<footer class="main-footer">
    <ul class="main-footer-nav">
      <li class="main-footer-nav-item">
        <a href="https://twitter.com/aidanbrownj" title="Twitter">
          Twitter
        </a>
      </li>
      <li class="main-footer-nav-item">
        <a href="https://github.com/h4wk590" title="Github">
          Github
        </a>
      </li>
      <li class="main-footer-nav-item">
        <a href="https://www.instagram.com/aidanbrown1996/" title="Instagram">
          Instagram
        </a>
      </li>
    </ul>
  </footer>
  
  