html {
    font-family: 'PT Sans', sans-serif;
    background-color: #131211ec;
    color: #ffffff;
}

a {
    color: #3fec3f;
}

code {
    font-family: 'Inconsolata', monospace;
}

a.site-title {
    text-decoration: none;
}

.site-title {
    color: #3fec3f;
}

a.navigation-item {
    text-decoration: none;
}

.navigation-item {
    color: #ffffff;
    border-bottom: 2px solid #3fec3f;
}

.main-footer-nav-item {
    display: inline;
    padding: 0 10px 0 20px;
    text-decoration: none;  
}

.main-footer-nav{
    border-bottom: 2px solid #ffffff;
}