---
layout: default
---

<div class="clearfix">
    <div class="col col-12">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="col col-12">
        {{ content }}
    </div>
    <footer>
    {% include footer.html %}
    </footer>
</div>