---
layout: default
---

<div class="clearfix">
    <div class="col col-6">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="col col-6">
        <p class="right-align">{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
</div>

<div class="clearfix">
    <div class="col col-12">
        {{ content }}
    </div>
</div>
{% include footer.html %}